@import 'lib/reset'

body {
  font-family: Avenir, Helvetica, sans-serif
  color: #1b1b1b
  font-size: 125%
  line-height: 1.4
  -webkit-font-smoothing: antialiased

  background-color: #1b1b1b
}

.application {
  max-width: 720px
  margin: auto
  background-color: white
}

@media(max-device-width: 400px) {
  body {
    font-size: 100%
  }
}
