@import 'lib/easings'

.artist {
  -webkit-backface-visibility: hidden
    transition: transform .6s ease-out-expo
}

.artist {
  position: absolute
  top: 0
  left: 0
  right: 0
  overflow: hidden
  background-color: white
}

.open.artist {
  overflow: scroll
}

.open.artist {
  z-index: 1
}
