@import 'lib/retinaBorder'

.artists-list-item {
  position: relative
  padding-bottom: 50%
}

.artists-list-item::after {
  content: ''
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 10px
  retinaBorder(bottom: white)
}
