@import 'lib/retinaBorder'
@import 'lib/easings'

.artist-header {
  position: relative
  color: rgba(255,255,255, .95)
  cursor: pointer
  padding-bottom: 50%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-focus-ring-color:  rgba(0, 0, 0, 0)
}


.artist-header::after {
  content: ''
  position: absolute
  left: 0
  right: 0
  top: 0
  height: 1px
  retinaBorder(top: white)
}

.artist-header .close-button {
  position: absolute

  background-image: url('assets/pull-down-icon.svg')
  background-repeat: no-repeat
  background-size: contain
  width: 22px
  height: 14px
  left: 1.5em
  top: 1.3em
  transition: opacity .3s ease-out-cubic
}

.not-open.artist .close-button {
  opacity: 0
}

.artist-name {
  position: absolute
  bottom: .6em
  left: 0.75em
  right: 0.75em
  font-size: 2em
  font-weight: 500
  letter-spacing: 0.25px
}

.artist-header .context-venue {
  position: absolute
  font-size: 1.2em
  bottom: 1.3em
  left: 1.35em
  right: 1.5em
  white-space: nowrap
}

.artist-header .context-venue::before {
  content: ''
  display: inline-block
  height: 0.8em
  width: 0.6em
  margin: 0 .3em -0.05em 0
  background-image: url('assets/location-icon.svg')
  background-size: contain
  background-position: center
  background-repeat: no-repeat
}


.artist-header .favorite-star {
  position: absolute
  right: 1.5em
  bottom 2.2em
  width: 1em
  height: 1em
  background-color: blue
  background: url('assets/white-favorite-icon.svg') no-repeat
  background-size: contain
  opacity: 0
  transform: scale(0.7)

  transition: .4s ease-out-expo
}

.is-favorite .favorite-star {
  opacity: 1
  transform: none
}

.has-venue .favorite-star {
  bottom: 1.9em
}

.has-venue .artist-name {
  bottom: 1.5em
}

.artist-image {
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  background-size: cover
  background-position: center 25%
}

.artist-image::after {
  content: ''
  display: block
  width: 100%
  height: 100%
  background-image: linear-gradient(-167deg, rgba(22, 2, 17, 0) 20%, rgba(22, 2, 17, 0.6) 100%)
}

@media(max-device-width: 400px), (max-width: 600px) {
  .artist-header {
    font-size: .7em
  }
}
