.artist {
  // -webkit-backface-visibility: hidden
}

.artist {
  position: absolute
  top: 0
  left: 0
  right: 0
  overflow: hidden
  background-color: white
}

.expanded.artist {
  overflow: scroll
}

.expanded.artist,
.expanding.artist {
  z-index: 1
}
