@import 'lib/retinaBorder'

.artist-menu {
  display: flex
}

.artist-menu-item {
  position: relative
  width: 50%
  padding: 1em 0 .93em
  font-weight: 500
  font-size: 0.9em
  text-indent: 3.9em
}

.artist-menu-item::before {
  content: ''
  position: absolute
  left: 1.6em
  width: 1.68em
  height: 1.25em
  top: 50%
  transform: translateY(-50%)
  background-size: contain
  background-repeat: no-repeat
  background-position: center
}

.artist-menu-item.spotify {
  background-color: #7AB800
  color: rgba(255,255,255, .95)

  &::before {
    background-image url('assets/spotify-logo.svg')
  }
}

.artist-menu-item.soundcloud {
  background-color: #FF6A21
  color: rgba(255,255,255, .95)

  &::before {
    background-image url('assets/soundcloud-logo.svg')
  }
}

.artist-menu-item.no-music {
  retinaBorder(bottom: #bebebe, right: #bebebe)
}

.artist-menu-item.favorite {
  cursor: pointer
  retinaBorder(bottom: #bebebe)

  &::before {
    background-image url('assets/outlined-favorite-icon.svg')
  }

  .is-favorite &::before {
    background-image url('assets/yellow-favorite-icon.svg')
  }
}

@media(max-device-width: 350px), (max-width: 550px){
  .artist-menu-item .prepended-text {
    display: none
  }
}

.show-item {
  display: block
  padding: 2em 1.5em
  retinaBorder(bottom: #bebebe)
}

.show-venue {
  font-weight: 600
  -webkit-font-smoothing: subpixel-antialiased
}

.maps-reminder {
  margin-top: .1em
  font-size: .8em
  color: #646464
}

.artist-biography {
  padding: 2.7em 1.5em
}

.artist-biography h1 {
  font-size: 1.4em
  font-weight: 600
}

.artist-biography h2 {
  color: #676767
  margin: -.1em 0 1em
}

.artist-biography p {
  margin-bottom: 1.5em
}
