@import 'lib/retinaBorder'

.artists-list-item {
  position: relative
}

.artists-list-item::after {
  content: ''
  position: absolute
  left: 0
  right: 0
  top: 0
  height: 10px
  retinaBorder(top: white)
}
