@import 'lib/retinaBorder'
@import 'lib/easings'

.lineup-header {
  position: relative
}

.lineup-header .back-button {
  position: absolute
  top: 50%
  left: 1.6em
  transform: translateY(-50%)

  height: 1em
  width: 1.4em
  text-indent: -100%
  overflow: hidden
  background: url('assets/back-button.svg') no-repeat
  background-size: contain
}

.favorites-filter-toggle {
    position: absolute
    top: 50%
    right: 1em
    transform: translateY(-50%)
    padding: .4em .7em .3em
    // font-size: .8em
    cursor: pointer
    // font-weight: 600
    // retinaBorder(top: #E5E5E5, right: #E5E5E5, bottom: #E5E5E5, left: #E5E5E5)
    border: 1px solid #E5E5E5
    border-radius: 3px
}

.favorites-filter-toggle.is-toggled {
  border: 1px solid black
  background-color: #121212
  color: rgba(255, 255, 255, .95)
}

// .favorites-filter-toggle {
//   cursor: pointer
//   position: absolute
//   top: 50%
//   right: 1.6em
//   height: 1.8em
//   width: 3.6em
//   transform: translateY(-50%)
//   border-radius: 7px
//   box-shadow: inset 0 0 0 1px #B0B0B0
// }

// .favorites-filter-toggle .text {
//   display: none
// }


// .favorites-filter-toggle .switch {
//   position: absolute
//   height: 100%
//   width: 50%
//   border-radius: 6px
//   background: url('assets/outlined-favorite-icon.svg') no-repeat
//   background-size: 60%
//   background-position: center center
//   background-color: white
//   border: 1px solid #B0B0B0
//   transition: transform .4s ease-out-expo
// }

// .is-toggled .switch {
//   background: url('assets/yellow-favorite-icon.svg') no-repeat
//   background-size: 60%
//   background-position: center center
//   transform: translate3d(100%, 0, 0)
// }

.lineup-heading {
  font-weight: 600
  text-transform: uppercase
  text-align: center
  letter-spacing: .4px
  padding: 1.4em 0 1.27em
}

.hour-header {
  // retinaBorder(top: #E5E5E5, bottom: #E5E5E5)
  background-color: #121212
  text-align: center
  font-weight: 600
  padding: .7em 0 .6em
  color: rgba(255, 255, 255, .95)
}
