@import 'lib/retinaBorder'

.lineup-header {
  position: relative
}

.lineup-header .back-button {
  position: absolute
  top: 50%
  left: 1.6em
  transform: translateY(-50%)

  height: 1em
  width: 1.4em
  text-indent: -100%
  background: url('assets/back-button.svg') no-repeat
  background-size: contain
}

.lineup-heading {
  font-weight: 600
  text-transform: uppercase
  text-align: center
  letter-spacing: .4px
  padding: 1.4em 0 1.27em
}

.hour-header {
  retinaBorder(top: #E5E5E5)
  background-color: #121212
  text-align: center
  font-weight: 600
  padding: .5em 0 .4em
  color: rgba(255, 255, 255, .95)

}
