@import 'lib/retinaBorder'

.main-nav,
.lineup {
  display: flex
  flex-wrap: wrap
}

.main-nav-link,
.lineup-link {
  font-weight: 600
  letter-spacing: .4px
  text-transform: uppercase
  text-align: center
  cursor: pointer
}

.main-nav-link {
  width: 50%
  padding: 1em 0 .93em
  color: rgba(255, 255, 255, 0.95)

  &.primary {
    background-color: #1b1b1b
  }

  &.secondary {
    background-color: #202020
  }

  &.tertiary {
    width: 100%
    padding: 2em 0
    background-color: #242424
  }
}

.lineup-link {
  width: 100%
  padding: 2em 0
  retinaBorder(bottom: #E5E5E5)
}

@media(max-width: 900px) {
  .lineup-link:last-child {
    background: none
  }
}

@media(min-width: 900px) {
  .lineup-link {
    width: 50%
    retinaBorder(bottom: #E5E5E5, right: #E5E5E5)
  }
}
